/* Add and delete panel buttons ----------------------------------------------*/

#add-panel,
.delete-panel{
  padding: 5px;
  transition: 0.5s;
  font-family: Epigrafica, Toplar, serif;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 0.9em;
  background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom));
  color: var(--gradient-text-colour);
  line-height: 1;
}

#add-panel{
  float: right;
  position: relative;
  z-index: 2;
}

.delete-panel{
  right: unset;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

#add-panel:hover,
.delete-panel:hover{
  color: var(--blue);
}

@media (max-width: 625px){
  .delete-panel-text{
    display: none;
  }

  .delete-panel .material-icons{
    padding-right: 0;
    font-size: 24px !important;
  }
}


/* Download button -----------------------------------------------------------*/

#download{
  position: absolute;
  top: 0;
  left: -35px;
  z-index: 4;
}

#edit-names-toggle:not(.hidden) + #download{
  top: 40px;
}

@media (max-width: 600px){
  #download{
    width: 170px;
    left: -24px !important;
  }

}

@media (max-width: 450px){
  
  #download{
    position: initial;
  }
  
  #download img{
    display: none;
  }

  #download div{
    display: block;
    width: calc(100% - 4px);
    margin: 0 0 2px 2px;
    box-sizing: border-box;
  }
}

@media (min-width: 451px){
  #download div{
    display: none;
  }
}


/* Edit names button ---------------------------------------------------------*/

#edit-names-toggle{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom));
  color: var(--gradient-text-colour);
  padding: 5px;
  font-family: Epigrafica, Toplar, serif;
  border-bottom: 2px solid var(--blue);
  font-size: 0.9em;
  line-height: 1;
}

#edit-names-toggle:hover{
  color: var(--blue) !important;
  animation: none;
}

#edit-names-toggle.hidden{
  padding: 0;
}







.canvas-button-text{
  padding-top: 4px;
}