
/* Text boxes ----------------------------------------------------------------*/

.text-overlay-container{
  position: absolute;
  top: 77.5%;
  bottom: 10%;
  right: 19%;
  left: 19%;
}

.text-overlay,
.text-overlay-preview{
  color: #fff;
  font-size: 114%;
  font-family: Toplar, 'Libre Baskerville', Georgia, serif;
  background: #0D1725;
  border: none;
  outline: none !important;
  resize: none;
  transition: color 0.2s;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.text-overlay-preview{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.15s;
}

.text-overlay[type="thought"],
.text-overlay[type="thought"] + .text-overlay-preview{
  color: var(--thought);
}

.active-canvas .text-overlay-preview,
.canvas-container:hover .text-overlay-preview,
.text-overlay:placeholder-shown + .text-overlay-preview{
  opacity: 0;
}

#text{
  background:  url('assets/game-elements/speech-box.png') center no-repeat;
  background-size: contain;
}


@media (max-width: 799px){
  .text-overlay, .text-overlay-preview{
    font-size: 2.3vw;
  }
}

@media (max-width: 625px){
  .text-overlay-container{
    left: 0;
    right: 0;
    bottom: 0;
    top: unset;
    position: relative;
    margin: -30px 8px 8px;
  }

  .text-overlay,
  .text-overlay-preview{
    padding: 5px 10px 20px 50px;
    margin: 0;
    font-size: 19px;
  }

  .text-overlay-preview{
    opacity: 0;
  }
}
