
.character-description-card{
  background: #dfd8bb;
  color: #2b2408;
  padding: 10px;
  line-height: 1;
  clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);

  display: grid;
  grid-template:
    'mugshot name nationality gender wiki' min-content
    'mugshot japanese-name height height height' min-content
    'mugshot divider divider divider divider' min-content
    'mugshot first-appearance first-appearance first-appearance first-appearance' min-content
    'spotify spotify spotify spotify spotify' min-content
    / auto 1fr;
    align-items: start;
    gap: 0 10px;
}

.character-description-card .character-name{
  font-family: Epigrafica, Toplar, serif;
  line-height: 1;
  font-weight: bold;
  font-size: 1.25em;
  grid-area: name;
  align-self: center;
}

.character-description-card-divider{
  height: 3px;
  background: linear-gradient(to right, #5e4e18, #9f9150, #5e4e18);
  grid-area: divider;
}

.character-description-card .gender-icon .material-icons{
  padding: 0 5px;
  margin: 0;
}

.character-description-card iframe{
  grid-area: spotify;
  margin-top: 20px;
}

.character-description-card .gender-icon{
  grid-area: gender;
  font-weight: normal;
  padding: 0;
  position: unset;
}

.mugshot{
  grid-area: mugshot;
  padding: 2px;
  background: #887e44;
  display: flex;
  margin-right: 10px;
}

.mugshot,
.mugshot-inner,
.mugshot-img-container,
.mugshot img{
  display: flex;
  clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}

.mugshot-inner{
  padding: 3px;
  background: #bfb178;
}

.mugshot-img-container{
  background: #a49758;
  padding: 2px;
}

.character-name-japanese{
  grid-area: japanese-name;
  font-size: 0.9em;
  font-family: sans-serif;
}

a.wiki-link{
  background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom));
  color: var(--gradient-text-colour);
  font-weight: normal;
  grid-area: wiki;
  padding: 0 3px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.wiki-link .material-icons{
  position: unset;
}

.first-appearance a{
  color: inherit;
}

.character-height{
  grid-area: height;
  text-align: right;
  margin-top: -2px;
}

.first-appearance{grid-area: first-appearance;}
.character-nationality{grid-area: nationality;}


