
main{
  display: grid; 

  grid-template: 
    "canvas options" min-content
    "description options" 1fr
    / 800px 1fr;
  gap: 20px 70px; 
  padding: 20px;
  align-items: start;
}


#canvas-grid-item {
  grid-area: canvas;
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#sticky-panel{
  max-width: 800px;
  flex-grow: 1;
}

.sticky-canvas{
  position: sticky;
  top: 20px;
}


#options{
  position: relative;
  min-height: calc(100vh - 150px);
  grid-area: options;
}

#character-description-card{
  grid-area: description-card;
}

@media (max-width:1450px){
  main{
    padding: 20px;

    grid-template: 
    "canvas" auto
    "options" auto
    "description" auto
    / 1fr;
  }

  #canvas-grid-item{
    width: 100%;
    display: flex;
    justify-content: center;

  }

  #options{
    min-height: unset;
  }
}
