#modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 105;
  background: rgba(0,0,0,0.85);
}

#modal > div{
  padding: 20px;
  background: linear-gradient(to bottom, #65592d, #9E9150);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 540px;
  max-width: 100vw;
  position: relative;
}

#modal .material-symbols-sharp{
  position: absolute;
  top: 10px;
  right: 10px;
}

#modal-content h2{
  font-family: 'MgOpen Cosmetica', Toplar, serif;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3), 1px -1px 0 rgba(0,0,0,0.3), -1px 1px 0 rgba(0,0,0,0.3), 1px 1px 0 rgba(0,0,0,0.3);
  margin-top: 0;
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
}

#name-selector-choices{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.name-selector-form{
  display: flex;
  flex-direction: column;
  flex-basis: 160px;
  border: none;
  padding: 0;
}

.name-selector-form img{
  width: 100px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  margin-bottom: 10px;
}

.name-language-selector{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0 0;
}

.name-language-selector-container{
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  margin-top: 20px;
  border-top: 3px solid #fff;
}