/* -------------------------------------------------------------------------- */

#share-buttons{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

#function-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fb-share-button{
  position: relative;
  top: -5px;
}




@media (max-width: 800px){
  #share-buttons{
    position: unset;
  }

  #function-buttons{
    margin: 20px 20px 0;
  }

}


@media (min-width: 801px){
  #kofi-button a.kofi-button{
    padding: 2px 10px 1px !important;
    line-height: 1 !important;
  }
  
  #kofi-button span.kofitext{
    line-height: 1 !important;
  }
  
}