/* Twitter feed --------------------------------------------------------------*/

body:not([accept-spoilers="true"]) .tb_mc_media_wrap img{
  filter: blur(40px);
}

#social-feed{
  position: relative;
  z-index: 101;
  background: var(--blue);
  margin-top: 40px;
  padding: 0 20px 20px;
}

#back-to-top{
  color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  right: -4px;
  top: calc(100% + 4px);
  background: var(--gold);
  text-decoration: none;
  padding: 3px 5px;
  font-size: 0.8em;
}

#social-feed-heading{
  position: sticky;
  top: -3px;
  z-index: 99;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 10px;
}

#social-feed-heading iframe{
  margin-left: 30px;
}

#social-feed-spoiler-notice{
  text-align: center;
  font-size: 1.2em;
  padding: 20px 0;
}

body[accept-spoilers] #social-feed-spoiler-notice{
  display: none;
}

.tb_mc_content a.text_links_{
  color: #fff !important;
}

.tb_mc_author, .tb_mc_author_wrapper{
  height: 50px;
}

.tb_app_container{
  overflow: hidden;
}


.tb_mc_media_wrap{
  width: 100%;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
}

.tb_mc_image{
  display: none !important;
}

.tb_mc_media_wrap img{
  display: block !important;
  height: auto;
}


.tb_mc_post_wrap_in{
  border: none !important;
}

.tb_mc_post_in{
  background-color: transparent !important;
}

.tb_mc_author_info *{
  font-family: 'Toplar', 'Baskerville Old Face', Georgia, serif !important;
}

.tb_mc_authorname{
  font-size: 16px !important;
}

.tb_mc_post_info * {
  font-size: 14px !important;
}
