body[theme="asobaro"]{
  --blue: #040a11;
  --scrollbar: #0a1520;
  --dark-accent: #090f16;
  --gold: #860606;

  --gradient-top: #a61414;
  --gradient-bottom: #770909;
  --gradient-text-colour: #fff;
}

body[theme="asobaro"] #info-bar,
body[theme="asobaro"] #about-button,
body[theme="asobaro"] #share-buttons{
  background: var(--dark-accent);
}


body[theme="asobaro"] .toggle-heading, body[theme="asobaro"] #pose-heading, body[theme="asobaro"] #spoiler-warning, body[theme="asobaro"] #social-feed-heading, body[theme="asobaro"] #download div, body[theme="asobaro"] #filter-toggle, body[theme="asobaro"] #modal > div{
  text-shadow: none;
}

body[theme="asobaro"] .reset-filters{
  color: var(--gradient-text-colour);
}


body[theme="asobaro"] .variant-tag{
  color: #d89797;
}
