body[theme="baroasoryuu"]{
  --blue: #0c0b08;
  --scrollbar: #000000;
  --dark-accent: #0a0a06;
  --red: #860606;
}

body[theme="baroasoryuu"] #info-bar,
body[theme="baroasoryuu"] #about-button,
body[theme="baroasoryuu"] #share-buttons{
  background: var(--dark-accent);
}

body[theme="baroasoryuu"] .toggle-heading,
body[theme="baroasoryuu"] #pose-heading,
body[theme="baroasoryuu"] #spoiler-warning,
body[theme="baroasoryuu"] #social-feed-heading,
body[theme="baroasoryuu"] #download div,
body[theme="baroasoryuu"] #filter-toggle,
body[theme="baroasoryuu"] #modal > div,
body[theme="baroasoryuu"] #add-panel,
body[theme="baroasoryuu"] .delete-panel{
  text-shadow: none;
  background: var(--red);
  outline-color: var(--red);
}

body[theme="baroasoryuu"] .reset-filters{
  color: var(--gradient-text-colour);
}


