body[theme="ryuulock"]{
  --blue: #0c0b08;
  --scrollbar: #000000;
  --dark-accent: #0a0a06;
  --gold: #b07f3d;

  --gradient-top: #b07f3d;
  --gradient-bottom: #c99859;
  --gradient-text-colour: #0c0b08;
}


body[theme="ryuulock"] #info-bar,
body[theme="ryuulock"] #about-button,
body[theme="ryuulock"] #share-buttons{
  background: var(--dark-accent);
}

body[theme="ryuulock"] .toggle-heading, body[theme="ryuulock"] #pose-heading, body[theme="ryuulock"] #spoiler-warning, body[theme="ryuulock"] #social-feed-heading, body[theme="ryuulock"] #download div, body[theme="ryuulock"] #filter-toggle, body[theme="ryuulock"] #modal > div{
  text-shadow: none;
}

