:root{
  --gold: #9E9150;
  --blue: #0D1725;
}

body{
  background: #0D1725;
  color: #fff;
  font-family: 'Libre Baskerville', Georgia, serif; /* Yes, I chose 'Libre Baskerville' on purpose. Congrats, you found an easter egg */
  font-size: 15px;
  padding: 0 30px 30px;
  margin: 0;
}

main{
  display: grid; 
  grid-template-columns: 800px auto; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "canvas options"; 
  gap: 20px 30px; 
}


#canvas-grid-item {
  grid-area: canvas;
  min-height: 100px;
}

header{
  text-align: center;
}

#banner,
#spoiler-warning > *{
  width: 650px;
  max-width: 100%;
}

#options{
  position: relative;
}

.options {
  grid-area: options;
}



/* Shared bits -------------------------------------------------------------*/

#canvas-grid-item,
#canvas-grid-item > div,
.canvas-container,
.active-canvas,
#character-selector-preview,
#background-selector-preview,
#pose-selector,
.location-icon,
.character-icon,
.material-icons,
.toggle-heading,
#pose-heading,
#download{
  position: relative;
}


.canvas-container,
canvas,
div[class*="icon"],
#pose-selector label,
.toggle-heading,
#pose-heading,
#download,
#add-panel,
.delete-panel,
.reset-filters{
  cursor: pointer;
}




/* Bits to hide ------------------------------------------------------------- */
#background,
#character,
#speech-box,
#character-selector,
#background-selector,
#speech-tag,
#credits,
input[type="radio"],
#character-selector-preview:not(.hidden) + #pose-heading,
body[character-selected="false"] #pose-heading,
body[character-selected="false"] #pose-selector{
  display: none;
}


/* Canvas bits  ------------------------------------------------------------- */

/*.canvas-container,*/
#pose-selector{
  float: none;
  margin: 0 auto;
}

.canvas-container,
canvas{
  display: inline-flex;
  width: 100%;
  max-width: 800px;
}

.canvas-container{
  animation: grow 0.5s both;
  overflow: hidden;
}

.canvas-container:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  transition: box-shadow 0.5s;
  z-index: 2;
}

.canvas-container:hover:before{
  box-shadow: inset 0 0 30px black;
}

.canvas-container.active-canvas:before{
  border: 8px solid var(--gold);
  box-shadow: inset 0 0 30px black;
}

.canvas-container.active-canvas canvas{
  cursor: default;
}

@keyframes grow{
  from{
    max-height: 0;}
  to{
    max-height: 1080px;}
}

@keyframes shrink{
  from{
    max-height: 1080px;
    overflow: hidden;}
  to{
    max-height: 0;}
}

.canvas-container + .canvas-container,
#add-panel{
  margin-top: -4px;
}

.canvas-container img:not(:first-child){
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-container img{
  max-width: 100%;
  pointer-events: none;
}



/* Selector styling ----------------------------------------------------------*/

#background-selector-preview,
#pose-selector,
#character-selector-preview{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 1000px;
  transition: 0.6s;
}

#character-selector-preview:not(.hidden) ~ #pose-selector{
  max-height: 0;
  overflow: hidden;
  border: none;
  margin-bottom: 0;
}

#character-selector-preview,
#background-selector-preview,
#pose-selector{
  border: 2px solid rgba(255,255,255,0.2);
  border-right: none;
  margin-bottom: 20px;
  max-height: 485px;
  overflow-y: scroll;
  width: calc(100% + 2px);
  left: -2px;
}

.hidden{
  max-height: 0 !important;
  overflow: hidden;
  border: none !important;
}

#character-selector-preview{
  max-height: 675px;
}



/* Icon styling --------------------------------------------------------------*/

div[class*="icon"],
#pose-selector label{
  width: 140px;
  height: 140px;
  background-position: center bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: block;
  transition: 0.3s;
  background-color: rgba(255,255,255,0.05);
  border-radius: 50%;
  margin: 15px 15px 70px;
}

div[class*="icon"][selected="true"]{
  background-color: var(--gold) !important;
}

#pose-selector label{
  margin: 15px;
}

div[class*="icon"]:hover,
#pose-selector label:hover{
  background-color: rgba(255,255,255,0.1);
}

#pose-selector label[selected]{
  background-color: var(--gold);
}

.location-icon,
.character-icon{
  margin-bottom: 50px;
}

.location-icon{
  outline: 3px solid transparent;
}

.location-icon:hover,
.location-icon[selected="true"]{
  outline-color: var(--gold);
}

.location-icon > div,
.character-icon > div{
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  text-align: center;
}

.material-icons{
  top: 3px;
  text-shadow: none;
  padding-right: 10px;
  font-size: 21px !important;
  pointer-events: none;
}

.material-icons.md-17 { font-size: 17px !important; }

.variant-tag{
  font-size: 0.9em;
  font-style: italic;
  color: var(--gold)
}

/* Text boxes ----------------------------------------------------------------*/

.text-overlay{
  position: absolute;
  top: 77.5%;
  bottom: 10%;
  right: 19%;
  left: 19%;
  color: #fff;
  font-size: 120%;
  font-family: 'Libre Baskerville', Georgia, serif;
  background: #0D1725;
  border: none;
  outline: none !important;
}

#text{
  background:  url('assets/game-elements/speech-box.png') center no-repeat;
  background-size: contain;
}


@media (max-width: 799px){
  .text-overlay{
    font-size: 2.4vw;
  }
}


/* Headings ------------------------------------------------------------------*/

.toggle-heading,
#pose-heading,
#spoiler-warning{
  background: linear-gradient(to bottom, #65592d, #9E9150);
  color: #fff;
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.4s;
  display: block;
  border: 2px solid var(--blue);
  outline: 2px solid var(--gold);
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3), 1px -1px 0 rgba(0,0,0,0.3), -1px 1px 0 rgba(0,0,0,0.3), 1px 1px 0 rgba(0,0,0,0.3);
}

#pose-heading{
  cursor: default;
}


.toggle-heading:hover,
#download:hover{
  color: var(--blue);
  text-shadow: none;
}

.down-arrow{
  float: right;
}

/* Buttons -------------------------------------------------------------------*/

#add-panel,
.delete-panel{
  background: linear-gradient(to bottom, #65592d, #9E9150);
  padding: 5px;
  transition: 0.5s;
}

#add-panel{
  float: right;
}

.delete-panel{
  right: unset;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

#add-panel:hover,
.delete-panel:hover{
  color: var(--blue);
}

/* Make it responsive --------------------------------------------------------*/

@media (max-width:1450px){
  main{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "canvas" 
    "options";
  }

  #canvas-grid-item{
    max-width: 800px;
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 1000px){
  .toggle-heading,
  #pose-heading{
    font-size: 16px;
    padding: 5px 20px;
  }

  div[class*="icon"] > div{
    font-size: 12px;
  }

  div[class*="icon"],
  #pose-selector label{
    max-width: 100px;
    max-height: 100px;
  }

  #character-selector-preview,
  #background-selector-preview,
  #pose-selector{
    max-height: 370px;
  }
}

@media (max-width: 600px){
  body{
    padding: 20px;
  }

  #download{
    width: 170px;
    left: -24px !important;
  }
}



/* Scrollbar styling ------------------- */

/* width */
::-webkit-scrollbar {width: 10px;}

/* Track */
::-webkit-scrollbar-track {background: #080f1a; }
 
/* Handle */
::-webkit-scrollbar-thumb {background: var(--gold);}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555;}



#download{
  position: absolute;
  top: 0;
  left: -35px;
  z-index: 4;
}



.filter{
  background: rgba(255,255,255,0.2);
  color: #fff;
  width: 100%;
  padding: 5px;
}

.filter span{
  pointer-events: all;
  cursor: pointer;
  transition: 0.3s;
}

.filter span.toggled,
.filter span:hover{
  color: var(--gold);
}



.character-icon[toggled="false"]{
  opacity: 0.1;
}

span[filter-type="all"]{
  display: inline-block;
  background: #fff;
  color: var(--blue);
  float: right;
  padding: 5px;
}

.filter-form{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: rgba(255,255,255,0.1);
  width: 100%;
  flex-wrap: wrap;
}

.filter-form > *{
  padding: 5px 10px;
}

.filter-form > div > label{
  color: var(--gold);
  font-weight: bold;
  display: block;
  padding-bottom: 7px;
}

.filter-form > .gender-checkbox > label{
  padding-bottom: 10px;
}


.case-presence-checkbox .checkbox-group {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  gap: 10px 5px; 
  grid-template-areas: 
    ". . . . ."
    ". . . . ."; 
}

.gender-checkbox-container .gender-icon,
.nationality-checkbox .flag-icon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gender-checkbox-container,
.gender-checkbox-container label,
.nationality-checkbox-container,
.nationality-checkbox-container label{
  display: flex;
  align-items: center;
}

.present-in-checkbox-container,
.gender-checkbox-container,
.nationality-checkbox-container{
  margin-bottom: 8px;
}

.present-in-checkbox-container *,
.gender-checkbox-container *,
.nationality-checkbox *{
  cursor: pointer;
}

.present-in-checkbox-container [checked] + label,
.gender-checkbox-container [checked] + label,
.nationality-checkbox-container [checked] + label{
  transition: 0.3s;
  opacity: 1;
}

.present-in-checkbox-container :not([checked="checked"]) + label,
.gender-checkbox-container :not([checked="checked"]) + label,
.nationality-checkbox-container :not([checked="checked"]) + label{
  opacity: 0.2;
}

input[filter-type="present-in"],
input[filter-type="gender"],
input[filter-type="nationality"]{
  display: none;
}

.character-icon-gender-tag[gender="female"],
#gender-checkbox-female + label span{
  background: pink;
  color: var(--blue);
  font-weight: bold;
  position: relative;
  top: -1px;
}

.character-icon-gender-tag[gender="male"],
#gender-checkbox-male + label span{
  background: #75D2EF;
  color: var(--blue);
  font-weight: bold;
  position: relative;
  top: -1px;
}

.case-presence-checkbox input + label{
  background: #fff;
  color: var(--blue);
  padding: 6px 1px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.present-in-checkbox-container label{
  min-width: 29px;
  text-align: center;
  display: block;
}

.reset-filters{
  background: var(--gold);
  color: var(--blue);
  font-family: inherit;
  border: none;
  transition: 0.3s;
}

.reset-filters:hover{
  background: #fff;
}


.character-icon-gender-tag,
.character-icon-nationality-tag{
  width: 38px;
  height: 26px;
  display: block;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute !important;
  bottom: 0;
  top: unset !important;
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
}

.character-icon-gender-tag span{
  margin: 0;
  padding: 0;
  top: 0;
}

.character-icon-nationality-tag{
  right: 0;
}

.character-icon:hover .character-icon-nationality-tag,
.character-icon:hover .character-icon-gender-tag,
.filter-form:hover ~ .character-icon .character-icon-nationality-tag,
.filter-form:hover ~ .character-icon .character-icon-gender-tag{
  opacity: 1;
}

/* Spoiler warning ---------------------------------------------------------- */

#spoiler-warning{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#spoilers-okay{
  background: var(--blue);
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 10px;
  transition: 0.2s;
  margin-top: 20px;
  margin-bottom: 20px;
}

#spoilers-okay:hover{
  background: #fff;
  color:  var(--blue);
}

#remember-spoilers-container *{
  cursor: pointer;
}

#remember-spoilers-okay{
  position: relative;
  margin-right: 10px;
}

