/* Shared bits */
@import "css/helpers.css";
@import "css/animations.css";

/* General page layout */
@import "css/global-and-high-level.css";
@import "css/layout.css";
@import "css/header.css";
@import "css/info-and-weather-bar.css";

/* Selector stuff (right column) */
@import "css/selectors-high-level.css";
@import "css/selector-icons.css";
@import "css/selector-headings.css";
@import "css/filters.css";
@import "css/spoiler-warning.css";

/* Canvas stuff (left column)*/
@import "css/canvas.css";
@import "css/canvas-text-boxes.css";
@import "css/canvas-related-buttons.css";

/* Miscellaneous */
@import "css/about.css";
@import "css/share-buttons.css";
/* @import "css/twitter-feed-taggbox.css"; */
@import "css/twitter-feed-onstipe.css";
@import "css/modal.css";


/* Themes */
@import "css/themes/theme-star.css";
@import "css/themes/homumiko.css";
@import "css/themes/ryulock.css";
@import "css/themes/asobaro.css";
@import "css/themes/baroasoryuu.css";


:root{
  --gold: #9E9150;
  --lightgold: #dfd7af;
  --thought: #07bff0;

  /* Default theme */
  --blue: #0D1725;
  --scrollbar: #080f1a;
  --light-accent: #1d2f49;
  --dark-accent: #0D1725;

  
  --gradient-top: #65592d;
  --gradient-bottom: #9E9150;
  
  /* Colours the text should be to show against their backgrounds */
  --blue-text-colour: #fff;
  --gold-text-colour: #fff;
  --gradient-text-colour: #fff;

  --orange: #f1671a;
}